/*
.menu-h {
    display: grid;
    grid-template-columns: 32px 32px 32px 32px;
    grid-template-rows: 32px;
    grid-auto-columns: 1fr;
    gap: 0px 12px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . .";
}
*/

