@mixin flex-center-space-between($bg-color: $Shade1, $padding-y, $padding-x) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    padding: $padding-y $padding-x;
}

@mixin columns-layout($num-columns, $gap) {
    display: grid;
    grid-template-columns: repeat($num-columns, 1fr);
    grid-gap: $gap;
}