// Colors
$Shade1:#FFFFFF;
$Shade2:#222222;
$Shade2-5: rgba($Shade2, 0.05);
$Shade2-30: rgba($Shade2, 0.30);

$Neutral1:#F7F7F7;
$Neutral2:#EBEBEB;
$Neutral3:#DDDDDD;
$Neutral4:#D3D3D3;
$Neutral5:#C2C2C2;
$Neutral6:#B0B0B0;
$Neutral7:#717171;
$Neutral8:#5E5E5E;

$Primary1:#8FC7C7;
$Primary2:#40D4D4;

$Secundary1:#F06D24;
$Secundary2:#FF9357;

$Error: #C13515;
$ErrorBk: #FEF8F6;

$Accent1:#F6D7DF;
$Accent2:#D03660;
$Accent3:#008A05;
$Accent4:#004CC4;

// Spacing
$Padding-16: 16px;

$padding-y-0: 0px;
$padding-y-8: 8px;
$padding-y-16: 16px;

$padding-x-0: 0px;
$padding-x-8: 8px;
$padding-x-16: 16px;
$Radius-9: 9px;